body{
  text-align: center;
  background-color: white;
  width: 100%;
  height: 100%;
  margin-top: 40px;
  font-family: "Open Sans";
}

table{
 /* color: navy; */
  margin-top: -7px;
  /* margin: 3%; */
  margin-left: 50px;
  border-spacing: 1px;
  border-color: black;
  /* display: table-cell; */
  /* vertical-align: middle; */
  /* border: 2px dashed navy; */
  /* float: left; */
  /* display: table; */
  /* border-collapse: separate; */
}

h1{
  font-family: Ranga;
  font-size: 70px;
  margin: 10px;
  color: rgb(7, 19, 140);
  font-size: 85px;
}

marquee{
  margin-bottom: 30px;
  font-size: 30px;
  background-color: rgb(247, 216, 113);
  color: white;
}

#messageBoard {
  display: table;
  height: 280px;
  width: 280px;
  background-color: rgba(199,55,41, .7);
  float: left;
  margin-top: 50px;
  margin-left: 5%;
  border: 2px solid black;
  border-radius: 10px;
  color: rgb(247,216,113);

}

#messages{
/*  color: navy;*/
  display: table-cell;
  vertical-align: middle;
}

#board{
  display: inline-block;
  position: relative;
  height: 350px;
  width: 350px;
  background-color: rgb(0, 94, 38);
  margin: auto;
  border: 10px solid black;
  border-radius: 35px;
}

#button{
  height: 35px;
  width: 75px;
  margin-top: 77px;
  border-radius: 5px;
}

#opponentButton{
  height: 35px;
  width: 75px;
  margin-top: 9px;
  visibility: hidden;
  border-radius: 5px;
}

#cardPlate{
  height: 65px;
  width: 200px;
  /* background-color: yellow; */
  text-align: center;
  background-position: center;
  margin-top: 97px;
  margin-left: 78px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(255,0,0);
  font-size: 39px;
}

#endOfGame {
  visibility: hidden;
  margin-left: -5px;
  margin-top: 25px;
  background-color: yellow;
}


#cardOne{
  height: 35px;
  width: 50px;
  display: inline-block;
  padding-top: 20px;
  color: transparent;
}

#cardTwo{
  height: 35px;
  width: 50px;
  display: inline-block;
  padding-top: 20px;
  color: transparent;
}

#cardThree{
  height: 35px;
  width: 50px;
  display: inline-block;
  padding-top: 20px;
  color: transparent;
}


#scoreboard {
  display: table;
  height: 280px;
  width: 280px;
  background-color: rgba(199,55,41, .7);
  float: right;
  margin-top: 50px;
  border: 2px solid black;
  border-radius: 10px;
  margin-right: 5%;
  color: rgb(247,216,113);
}

.round{
  background-color: rgba(0,0,0, .15);
}

.dice1{
  background-image: url(Images/dice_sprite.png);
  background-position: -4px -2px;
  background-size: 710%;
  border: 2px solid black;
  border-radius: 23px;
}

.dice2{
  background-image: url(Images/dice_sprite.png);
  background-position: -62px -2px;
  background-size: 710%;
  border: 2px solid black;
  border-radius: 23px;
}

.dice3{
  background-image: url(Images/dice_sprite.png);
  background-position: -121px -2px;
  background-size: 710%;
  border: 2px solid black;
  border-radius: 23px;
}

.dice4{
  background-image: url(Images/dice_sprite.png);
  background-position: -181px -2px;
  background-size: 710%;
  border: 2px solid black;
  border-radius: 23px;
}

.dice5{
  background-image: url(Images/dice_sprite.png);
  background-position: -241px -2px;
  background-size: 710%;
  border: 2px solid black;
  border-radius: 23px;
}

.dice6{
  background-image: url(Images/dice_sprite.png);
  background-position: -301px -2px;
  background-size: 710%;
  border: 2px solid black;
  border-radius: 23px;
}

#refresh {
  visibility: hidden;
  margin-top: 33px;
  font-size: 22px;
  background-color: yellow;
  font-family: serif;
  border-radius: 10px;
}

